<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recycling Home Page</title>

    {{!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet"> --}}
    {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"> --}}

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    {{!-- <script src="index.js" charset="utf-8" defer></script> --}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <header>
      <div class="header-image-container">
        <h1 class="site-title"><a href="?name=">Recyclopse</a></h1>
    
        <div class="nav-links">
          <a class="navbar-items" href = "index.html">About Us</a>
          <a class="navbar-items" href = "/customers">Customers</a>
          <a class="navbar-items" href = "dropOffOrders.html">Drop-Off Orders</a>
          <a class="navbar-items" href = "salesOrders.html">Materials Orders</a>
          <a class="navbar-items" href = "wasteOrders.html">Waste Shipments</a>
          <a class="navbar-items" href = "wasteLocations.html">Waste Locations</a>
        </div>
      </div>
    </header>
    
    <main class="content">
        <div class ="table-div">
            {{!-- Create a table --}}
            <table>

                {{!-- Header section --}}
                <thead>

                    {{!-- For just the first row, we print each key of the row object as a header cell so we
                    know what each column means when the page renders --}}
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                        <th>delete</th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>

                    {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                    {{#each data}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.customer_name}}</td>
                        <td>{{this.total_dropoff}}</td>
                        <td>{{this.total_recycle}}</td>
                        <td><button onclick="deletePerson({{this.id}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{!-- <script src = "../public/js/delete_customers.js"></script> --}}

        
        
        <!-- /views/index.hbs -->
        <aside class="filter-container addingdata">
            <h2>Insert</h2>
            <form id="add-customer-form" method="POST" action="/add-customer-form">

              <div class="filter-input-container">
                  <label class="filter-input-label" for="input-name">Name</label>
                  <div class="filter-input-element">
                  <input type="text" name="input-name" id="input-name">
                  </div>
              </div>
            
              <div class="filter-input-container">
                  <label class="filter-input-label" for="input-total-dropoff">Total Dropoff</label>
                  <div class="filter-input-element">
                  <input type="number" name="input-total-dropoff" id="input-total-dropoff">
                  </div>
              </div>    

            <div class="filter-input-container">
                <label class="filter-input-label" or="input-total-recycle">Total Recycle</label>
                <div class="filter-input-element">
                <input type="number" name="input-total-recycle" id="input-total-recycle">
                </div>
            </div>

                <input class="submit-button action-button" type="submit">
            </form>
        </aside>

        <aside class="filter-container">
        <h2>Search</h2>
        <form id="search-customer-html" method='GET' action='/'>
          <div class="filter-input-container">
              <label class="filter-input-label" for="input-name">Name </label>
              <div class="filter-input-element">
              <input type="text" name="name" id="input-name-html-search">
              </div>
          </div>
            
            <input class="submit-button action-button" type="submit">
            <a href='/'><button class="submit-button action-button">Reset</button></a>
        </form>
        </aside>

    </main>
  </body>
</html>
