<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Customers Page</title>

    {{!-- add scipts --}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    {{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {{!-- add CSS styling --}}
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    {{!-- create a header that allows us to navigate to every other page --}}
    <header>
      <div class="header-image-container">
        <h1 class="site-title"><a href="/about">Recyclopse</a></h1>
    
        <div class="nav-links">
          <a class="navbar-items" href = "/about">About Us</a>
          <a class="navbar-items" href = "/customers">Customers</a>
          <a class="navbar-items" href = "/dropOffOrders">Drop-Off Orders</a>
          <a class="navbar-items" href = "/salesOrders">Materials Orders</a>
          <a class="navbar-items" href = "/wasteOrders">Waste Shipments</a>
          <a class="navbar-items" href = "/wasteLocations">Waste Locations</a>
        </div>
      </div>
    </header>
    
    <main class="content">
      {{!-- Create a table --}}
      <table id = "table-div">

          {{!-- Header section --}}
          <thead>

              {{!-- For just the first row, we print each key of the row object as a header cell so we
              know what each column means when the page renders --}}
              <tr>
                  {{#each data.[0]}}
                  <th>
                      {{@key}}
                  </th>
                  {{/each}}
                  <th>delete</th>
              </tr>
          </thead>

          {{!-- Body section --}}
          <tbody>

              {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
              {{#each data}}
              <tr data-value={{this.id}}>
                  <td>{{this.id}}</td>
                  <td>{{this.customer_name}}</td>
                  <td>{{this.total_dropoff}}</td>
                  <td>{{this.total_recycle}}</td>
                  <td><button onclick="deleteCustomer({{this.id}})">Delete</button></td>
              </tr>
              {{/each}}
          </tbody>
      </table>
      {{!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script> --}}
      {{!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script> --}}
      <script language="JavaScript" type="text/javascript" src="deleteCustomer.js"></script>
     

        {{!-- FIRST ASIDE FOR INSERTING DATA --}}
        <aside class="filter-container addingdata">
            <h2>Insert</h2>
            <form id="add-customer-form" method="POST" action="/add-customer-form">

              <div class="filter-input-container">
                  <label class="filter-input-label" for="input-name">Name</label>
                  <div class="filter-input-element">
                  <input type="text" name="input-name" id="input-name">
                  </div>
              </div>
            
              <div class="filter-input-container">
                  <label class="filter-input-label" for="input-total-dropoff">Total Dropoff</label>
                  <div class="filter-input-element">
                  <input type="number" name="input-total-dropoff" id="input-total-dropoff">
                  </div>
              </div>    

            <div class="filter-input-container">
                <label class="filter-input-label" for="input-total-recycle">Total Recycle</label>
                <div class="filter-input-element">
                <input type="number" name="input-total-recycle" id="input-total-recycle">
                </div>
            </div>

                <input class="submit-button action-button" type="submit">
            </form>
        </aside>

        {{!-- SECOND ASIDE FOR SEARCHING  --}}
        <aside class="filter-container">
        <h2>Search</h2>
        <form id="search-customer-html" method='GET' action='/'>
          <div class="filter-input-container">
              <label class="filter-input-label" for="input-name">Name </label>
              <div class="filter-input-element">
              <input type="text" name="name" id="input-name-html-search">
              </div>
          </div>
            
            <input class="submit-button action-button" type="submit">
            <a href='/'><button class="submit-button action-button">Reset</button></a>
        </form>
        </aside>

        {{!-- THIRD ASIDE FOR UPDATING --}}
        <aside class="filter-container">
          <h2>Updating cutomers total recycle</h2>
            <p>To update a specific user's total_recycle, select their name from the drop-down menu on the top and type their new total_recycle on the bottom.</p>
            <form id="update-customer-form-ajax">

                <label for="input-name">Name: </label>
                <select name="input-name" id="mySelect">
                    <option value="test">Select a Person</option>
                    {{#each data}}
                    <option value="{{this.id}}">{{this.customer_name}}</option>
                    {{/each}}
                </select>

                <br></br>
                <label for="input-recycle-update">Recycle: </label>
                <div class="filter-input-container">
                  {{!-- <label for="input-id-update"></label> --}}
                  <div class="filter-input-element">
                    <input type="number" name="input-recycle" id="input-recycle-update">
                  </div>
                </div> 
                <input class="submit-button action-button" type="submit">
            </form>

            <script src="updateCustomer.js"></script>

          {{!-- </form> --}}
        </aside>

    </main>
  </body>
</html>
